// Colors 
    $bgColor--light: #F8F9FD;

    //components 
    $sectionBg: #FFFFFF;

    //fonts
    $fontPrimary--light : #000000;
    $fontSecondary--light : #FFFFFF;
    $fontDisable--light : #6D7D93;


// Breakpoints 

$desktop-m : 1980px;
$desktop-s : 1440px;
$tablet : 1024px;
$tablet-s : 768px; 
$mobile : 425px;
$mobile-s : 320px;
